 <!-- Our products -->
   <section class="products ">
      <div class="products__container _container">

         <!-- Desctiption -->
         <div class="products__description">
            <h2 class="products__header">{{ section.settings.heading}} </h2>
            <p class="products__text-top">Personal Cares</p>
            <p class="products__text-bottom">{{ section.settings.description }}</p>
            <a href="{{ section.settings.url }}" class="products__link products__link_desktop">all products {%  render 'icon-arrow-btn' %}</a>
         </div>

         <!-- Items -->
         <div class="products__items">
         {% for product in section.settings.product_list %}
            <a href="{{ product.url }}" class="product__link">
               <div class="products__item">
                  <img src="{{ product.featured_image | img_url : "master" }}" alt="product" class="products__img">
                  <h3 class="products__name">{{ product.title }}</h3>
                  <p class="products__text">BODY WASH</p>
                  <div class="products__price-block">
                     <span class="products__price products__price_old">{{ product.price | money }}</span>
                     <span class="products__price products__price_new">{{ product.compare_at_price | money }}</span>
                  </div>
               </div>
            </a>
        {% endfor %}

          

            <!-- 4 item -->
            <div class="products__item products__item_mobile">
               <img src="./redaily_files/product.png" alt="product" class="products__img">
               <h3 class="products__name">DWEBERRY</h3>
               <p class="products__text">BODY WASH</p>
               <div class="products__price-block">
                  <span class="products__price products__price_old">€10</span>
                  <span class="products__price products__price_new">€5</span>
               </div>
            </div>
         </div>
         <a href="" class="products__link products__link_mobile">all products</a>
      </div>
   </section>

{% schema %}
{
  "name": "PRODUCTS",
  "settings": [
    {
    "type": "product_list",
    "id": "product_list",
    "label": "Products"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "our <b>products</b>"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Choose a product that will make your day brighter. Are you looking for Personal or Home care?"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Button Text",
      "default": "all products"
    },
     {
      "type": "url",
      "id": "url",
      "label": "Link"
    }
  
  ],
  "presets": [
    {
      "name": "PRODUCTS"
     
    }
  ]
}
{% endschema %}